name: mymealagent

version: "3.9"

services:
  backend:
    container_name: backend
    build:
      context: .
      dockerfile: Dockerfile  
    image: mymealagent-backend
    ports:
      - "8000:8000"
    env_file:
      - .env.docker
    depends_on:
      - redis
    environment:
      - REDIS_URL=redis://redis:6379/0
  worker:
    build: .
    command: celery -A app.celery_app worker -l info
    depends_on:
      - redis
    env_file:
      - .env.docker
    environment:
      - REDIS_URL=redis://redis:6379/0
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"