name: mymealagent

version: "3.9"

services:
  backend:
    container_name: backend
    build:
      context: .
      dockerfile: Dockerfile  
    image: mymealagent-backend
    ports:
      - "8000:8000"
    env_file:
      - .env
