fastapi
uvicorn[standard]
pydantic
python-dotenv
pydantic-settings
sqlalchemy
psycopg[binary]==3.*
alembic
python-multipart
pillow
pytesseract
openai
yt-dlp
requests
ffmpeg-python
celery
redis
azure-storage-blob
pillow
opencv-python
bcrypt==4.3.0
passlib
python-jose[cryptography]
pydantic[email]
google-auth
python-multipart
pyjwt
cryptography