name: Deploy backend

on:
  push:
    branches:
      - main
    paths:
      - "backend/**"
  workflow_dispatch:
  
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          
      - name: Login to ACR
        run: |
          az acr login --name ${{ secrets.ACR_NAME }}
          
      - name: Build and push web api image
        run: |
          cd backend
          docker build -t ${{ secrets.ACR_NAME }}.azurecr.io/${{ secrets.IMAGE_NAME }}:latest .
          docker push ${{ secrets.ACR_NAME }}.azurecr.io/${{ secrets.IMAGE_NAME }}:latest

      - name: Build and push Celery worker image
        run: |
          cd backend
          docker build -t ${{ secrets.ACR_NAME }}.azurecr.io/${{ secrets.WORKER_IMAGE_NAME }}:latest .
          docker push ${{ secrets.ACR_NAME }}.azurecr.io/${{ secrets.WORKER_IMAGE_NAME }}:latest  

      - name: Restart services
        run: |
          az webapp restart \
            --name ${{ secrets.WEBAPP_NAME }} \
            --resource-group ${{ secrets.RG_NAME }}
          az webapp restart \
            --name ${{ secrets.WORKERAPP_NAME }} \
            --resource-group ${{ secrets.RG_NAME }}